lunapi==1.2.1
requests==2.32.3
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
scipy==1.13.1
nbformat==5.10.4
matplotlib==3.9.2
matplotlib-inline==0.1.7
numpy==2.0.2
pandas==2.2.3
plotly==5.24.1
tqdm==4.67.0
urllib3==1.26.6
